.entry {}

.entryClass {
    background: url("../imgs/entry.jpg") no-repeat center / cover;
    width: 100dvw;
    height: 100dvh;
    animation: scaleEntry 10s infinite ease-in;
    transition: all .5s;
    position: relative;
    &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        gap: 10px;
        .title {
            font-size: 50px;
            font-weight: bold;
        }
        span {
            font-size: 20px;
        }
        .go {
            font-size: 20px;
            border-radius: 20px;
            padding: 5px 30px;
            border: 1px solid #fff;
            background-color: #022855;
            color: #fff;
            margin-top: 5px;
        }
    }
}

.entrySelect {
    background: url("../imgs/entry1.png") no-repeat center /cover;
    width: 100dvw;
    height: 100dvh;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .3);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &_content {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .title {
            font-size: 48px;
            color: #000;
        }
        .box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            margin: 30px;
            &>div {
                background-color: #231D72;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                padding: 50px 40px;
                cursor: pointer;
                .des {
                    font-size: 32px;
                    color: #fff;
                    font-weight: 200;
                }
            }
        }
    }
}

.footer {
    background-color: #000;
    padding: 10px;
    p {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
}

@keyframes scaleEntry {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 120% 120%;
    }
    100% {
        background-size: 100% 100%;
    }
}