.section1 {
    background: url('../imgs/section1.png') no-repeat center / cover;
    width: 100dvw;
    height: 100dvh;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, .3);
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        gap: 20px;
        .title {
            font-size: 32px;
            font-weight: 400;
            text-align: center;
            background-color: rgba(255, 255, 255, .5);
            padding: 10px;
            p {
                animation: typing 2s steps(16), blink 1s step-end infinite;
            }
        }
        .box {
            font-size: 24px;
            border-radius: 20px;
            button {
                padding: 5px 20px;
                &:hover {
                    box-shadow: initial;
                }
            }
            .pre {
                background-color: #000;
                color: #fff;
            }
            .next {
                background-color: #022855;
                color: #fff;
            }
            button+button {
                margin-left: 30px;
            }
        }
    }
}