* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    outline: initial;
    border: initial;
}

h1 {
    color: orangered;
}

.sceneSection {
    width: 100dvw;
    height: 110dvh;
    position: relative;
    &-2 {
        padding: 0 20px;
    }
}

.contentBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .findingBtn {
        position: absolute;
        right: 0;
        top: calc(100% + 20px);
    }
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #42b983;
    font-size: 20px;
    /* 游標線 */
    animation: typing 1s steps(16), blink 0.75s step-end infinite;
}

a-scene {
    width: 100dvw;
    height: 100dvh;
    display: block;
}

button {
    color: orangered;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px 10px rgba(#1c6b94, 0.7);
    }
    &.clickbtn {
        position: absolute;
        z-index: 99;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: swing 1s ease-in-out infinite;
        transform-origin: center;
    }
}

@keyframes swing {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(calc(-50% - 10px), -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100% // width: 16ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}